<a href="https://colab.research.google.com/github/kptej/MyLearning/blob/new_change_v1/employe_pyspark_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install dependencies as needed:
!pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
# Replace "employee_data.csv" with the actual file name in the dataset if it's different.
file_path = "Employee 1000x.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "zahidmughal2343/employee-data",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

df.head(5)

Requirement already satisfied: kagglehub[pandas-datasets] in /usr/local/lib/python3.11/dist-packages (0.3.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (24.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (6.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (4.67.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (2025.4.26)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->kagglehub[pandas-datasets]) (1.17.0)

<ipython-input-1-8125748cc5a5>:11: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/zahidmughal2343/employee-data?dataset_version_number=1&file_name=Employee 1000x.csv...

100%|██████████| 945k/945k [00:00<00:00, 1.67MB/s]

First 5 records:    Index First Name Last Name     Sex                        Email  \
0      1       Sara   Mcguire  Female           tsharp@example.net
1      2     Alisha    Hebert    Male   vincentgarrett@example.net
2      3  Gwendolyn  Sheppard    Male  mercadojonathan@example.com
3      4   Kristine    Mccann  Female        lindsay55@example.com
4      5      Bobby   Pittman  Female    blevinsmorgan@example.com

                   Phone Date of birth                          Job Title
0     (971)643-6089x9160      17-08-21              Editor, commissioning
1  +1-114-355-1841x78347      28-06-69                 Broadcast engineer
2             9017807728      25-09-15                   Industrial buyer
3  +1-607-333-9911x59088      27-07-78              Multimedia specialist
4             3739847538      17-11-89  Planning and development surveyor

,Index,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,Sara,Mcguire,Female,tsharp@example.net,(971)643-6089x9160,17-08-21,"Editor, commissioning"
1,2,Alisha,Hebert,Male,vincentgarrett@example.net,+1-114-355-1841x78347,28-06-69,Broadcast engineer
2,3,Gwendolyn,Sheppard,Male,mercadojonathan@example.com,9017807728,25-09-15,Industrial buyer
3,4,Kristine,Mccann,Female,lindsay55@example.com,+1-607-333-9911x59088,27-07-78,Multimedia specialist
4,5,Bobby,Pittman,Female,blevinsmorgan@example.com,3739847538,17-11-89,Planning and development surveyor

In [2]:
import kagglehub
from pyspark.sql import SparkSession # Import SparkSession
from pyspark.sql.functions import col # Import col function
from pyspark.sql.functions import DataFrame

# Download latest version
path = kagglehub.dataset_download("zahidmughal2343/employee-data")

print("Path to dataset files:", path)

# Create or get a SparkSession
spark = SparkSession.builder.appName("Employee-Data").getOrCreate() # Initialize SparkSession

df=spark.read.csv(path, header=True)

df.show(5) # Use df.head() to print the first row of the DataFrame

df.printSchema() # Print the schema of the DataFrame

df.head()
print(f"{'*' * 20}  {'*' * 20}")

print("NUmber of Columns:", len(df.columns))
print("Column Names:", df.columns)
print("Number of Rows:", df.count())
print("Number of Distinct Rows:", df.distinct().count())
print("Number of Rows with Null Values:", df.dropna().count())
print("Number of Rows with Duplicate Values:", df.dropDuplicates().count())
print("Number of Rows with Missing Values:", df.dropna().count())

Downloading from https://www.kaggle.com/api/v1/datasets/download/zahidmughal2343/employee-data?dataset_version_number=1...

100%|██████████| 370k/370k [00:00<00:00, 71.0MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/zahidmughal2343/employee-data/versions/1

+-----+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|      Sara|  Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|     17-08-21|Editor, commissio...|
|    2|    Alisha|   Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|     28-06-69|  Broadcast engineer|
|    3| Gwendolyn| Sheppard|  Male|mercadojonathan@e...|          9017807728|     25-09-15|    Industrial buyer|
|    4|  Kristine|   Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|     27-07-78|Multimedia specia...|
|    5|     Bobby|  Pittman|Female|blevinsmorgan@exa...|          3739847538|     17-11-89|Planning and deve...|
+-----+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 5 rows

root
 |-- Index: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)

********************  ********************
NUmber of Columns: 8
Column Names: ['Index', 'First Name', 'Last Name', 'Sex', 'Email', 'Phone', 'Date of birth', 'Job Title']
Number of Rows: 10000
Number of Distinct Rows: 10000
Number of Rows with Null Values: 10000
Number of Rows with Duplicate Values: 10000
Number of Rows with Missing Values: 10000

In [6]:
from google.colab import drive
drive.mount('/content/drive')

file_path='/content/drive/My Drive/data/employee_data.csv'

write_df=df.repartition(1).write.mode('overwrite').csv(file_path, header=True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, IntegerType


# Create or get a SparkSession
spark = SparkSession.builder.appName("Employee-Data").getOrCreate() # Initialize SparkSession

#read csv file
from google.colab import drive
drive.mount('/content/drive')

csv_path='/content/drive/My Drive/data/employee_data/*.csv'

# Define the schema with the desired type for "Phone" (e.g., IntegerType)
desired_schema = StructType([
    StructField("Index", IntegerType(), True),
    StructField("First_Name", StringType(), True),
    StructField("Last_Name", StringType(), True),
    StructField("sex", StringType(), True),
    StructField("Email", StringType(), True),
    StructField("Phone", StringType(), True),  # Desired type is IntegerType
    StructField("DOB", StringType(), True),
    StructField("Job_Tittle", StringType(), True)
])


read_df = spark.read.csv(csv_path, header=True, schema=desired_schema, mode='PERMISSIVE')

read_df.show(5) # Use df.head() to print the first row of the DataFrame

read_df.printSchema() # Print the schema of the DataFrame

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
|Index|First_Name|Last_Name|   sex|               Email|               Phone|     DOB|          Job_Tittle|
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
|    1|      Sara|  Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|17-08-21|Editor, commissio...|
|    2|    Alisha|   Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|28-06-69|  Broadcast engineer|
|    3| Gwendolyn| Sheppard|  Male|mercadojonathan@e...|          9017807728|25-09-15|    Industrial buyer|
|    4|  Kristine|   Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|27-07-78|Multimedia specia...|
|    5|     Bobby|  Pittman|Female|blevinsmorgan@exa...|          3739847538|17-11-89|Planning and deve...|
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
only showing top 5 rows

root
 |-- Index: integer (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Job_Tittle: string (nullable = true)

In [27]:
read_df.head()

Row(Index=1, First_Name='Sara', Last_Name='Mcguire', sex='Female', Email='tsharp@example.net', Phone='(971)643-6089x9160', DOB='17-08-21', Job_Tittle='Editor, commissioning')

In [26]:

read_df.select("Phone").distinct().show(5, truncate=False)

+--------------------+
|Phone               |
+--------------------+
|990-171-6132x616    |
|(762)661-6527x2462  |
|817-428-3298x58491  |
|+1-208-844-9128x5240|
|(757)115-2133x506   |
+--------------------+
only showing top 5 rows

In [35]:
from pyspark.sql.functions import regexp_extract # Import regexp_extract function
from pyspark.sql.functions import col # Import col function

read_df.show(10)
read_df.withColumn("Phone", regexp_extract(read_df["Phone"], r"[^\d]", '')).show(20)

+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
|Index|First_Name|Last_Name|   sex|               Email|               Phone|     DOB|          Job_Tittle|
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
|    1|      Sara|  Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|17-08-21|Editor, commissio...|
|    2|    Alisha|   Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|28-06-69|  Broadcast engineer|
|    3| Gwendolyn| Sheppard|  Male|mercadojonathan@e...|          9017807728|25-09-15|    Industrial buyer|
|    4|  Kristine|   Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|27-07-78|Multimedia specia...|
|    5|     Bobby|  Pittman|Female|blevinsmorgan@exa...|          3739847538|17-11-89|Planning and deve...|
|    6|    Calvin|   Ramsey|Female|loretta85@example...|001-314-829-5014x...|31-08-17|Therapeutic radio...|
|    7|    Collin|  Allison|  Male| yvaughn@example.net|       (314)591-7413|21-11-79|       Administrator|
|    8|  Nicholas|   Branch|  Male|greerjimmy@exampl...|               -7199|21-01-06|   Fisheries officer|
|    9|      Emma| Robinson|Female|charleshiggins@ex...|   166-234-6882x7457|19-03-09|       Haematologist|
|   10|     Pedro|  Cordova|  Male|leslie08@example.com|  (389)824-3204x8287|17-06-08|      Phytotherapist|
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
only showing top 10 rows

Py4JError: An error occurred while calling z:org.apache.spark.sql.functions.regexp_extract. Trace:
py4j.Py4JException: Method regexp_extract([class org.apache.spark.sql.Column, class java.lang.String, class java.lang.String]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:321)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:342)
	at py4j.Gateway.invoke(Gateway.java:276)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [36]:
from pyspark.sql.functions import regexp_replace # Import regexp_replace function
from pyspark.sql.functions import col # Import col function

read_df.show(10)
# Use regexp_replace to remove non-digit characters from the "Phone" column
read_df.withColumn("ext_Phone", regexp_replace(col("Phone"), r"[^\d]", '')).show(20)

+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
|Index|First_Name|Last_Name|   sex|               Email|               Phone|     DOB|          Job_Tittle|
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
|    1|      Sara|  Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|17-08-21|Editor, commissio...|
|    2|    Alisha|   Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|28-06-69|  Broadcast engineer|
|    3| Gwendolyn| Sheppard|  Male|mercadojonathan@e...|          9017807728|25-09-15|    Industrial buyer|
|    4|  Kristine|   Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|27-07-78|Multimedia specia...|
|    5|     Bobby|  Pittman|Female|blevinsmorgan@exa...|          3739847538|17-11-89|Planning and deve...|
|    6|    Calvin|   Ramsey|Female|loretta85@example...|001-314-829-5014x...|31-08-17|Therapeutic radio...|
|    7|    Collin|  Allison|  Male| yvaughn@example.net|       (314)591-7413|21-11-79|       Administrator|
|    8|  Nicholas|   Branch|  Male|greerjimmy@exampl...|               -7199|21-01-06|   Fisheries officer|
|    9|      Emma| Robinson|Female|charleshiggins@ex...|   166-234-6882x7457|19-03-09|       Haematologist|
|   10|     Pedro|  Cordova|  Male|leslie08@example.com|  (389)824-3204x8287|17-06-08|      Phytotherapist|
+-----+----------+---------+------+--------------------+--------------------+--------+--------------------+
only showing top 10 rows

+-----+----------+----------+------+--------------------+--------------------+--------+--------------------+-----------------+
|Index|First_Name| Last_Name|   sex|               Email|               Phone|     DOB|          Job_Tittle|        ext_Phone|
+-----+----------+----------+------+--------------------+--------------------+--------+--------------------+-----------------+
|    1|      Sara|   Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|17-08-21|Editor, commissio...|   97164360899160|
|    2|    Alisha|    Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|28-06-69|  Broadcast engineer| 1114355184178347|
|    3| Gwendolyn|  Sheppard|  Male|mercadojonathan@e...|          9017807728|25-09-15|    Industrial buyer|       9017807728|
|    4|  Kristine|    Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|27-07-78|Multimedia specia...| 1607333991159088|
|    5|     Bobby|   Pittman|Female|blevinsmorgan@exa...|          3739847538|17-11-89|Planning and deve...|       3739847538|
|    6|    Calvin|    Ramsey|Female|loretta85@example...|001-314-829-5014x...|31-08-17|Therapeutic radio...|00131482950141792|
|    7|    Collin|   Allison|  Male| yvaughn@example.net|       (314)591-7413|21-11-79|       Administrator|       3145917413|
|    8|  Nicholas|    Branch|  Male|greerjimmy@exampl...|               -7199|21-01-06|   Fisheries officer|             7199|
|    9|      Emma|  Robinson|Female|charleshiggins@ex...|   166-234-6882x7457|19-03-09|       Haematologist|   16623468827457|
|   10|     Pedro|   Cordova|  Male|leslie08@example.com|  (389)824-3204x8287|17-06-08|      Phytotherapist|   38982432048287|
|   11|      Jean|   Aguilar|  Male|raymond24@example...|  (285)029-1604x5466|28-10-78|Engineer, control...|   28502916045466|
|   12|    Dwayne|Hutchinson|Female|preston28@example...|   (233)811-1749x417|22-06-14|Teacher, early ye...|    2338111749417|
|   13|   Bradley| Velazquez|  Male|joycejay@example.net|       (831)049-2030|23-12-06|       Airline pilot|       8310492030|
|   14|  Samantha|      Moon|  Male|wesleymullins@exa...|          7788378816|21-06-78|Intelligence analyst|       7788378816|
|   15|   Clayton|  Erickson|  Male|  nterry@example.net|  990-374-0521x33156|07-02-59|    Paediatric nurse|  990374052133156|
|   16|   Bradley|    Bright|Female|devinherman@examp...|          2534420151|27-01-92|Fitness centre ma...|       2534420151|
|   17|    Ernest|   Maynard|  Male|tommywoodard@exam...|   355-863-2311x6315|23-11-17|Accountant, chart...|   35586323116315|
|   18|       Joe|    Larsen|Female|brianna43@example...|   (566)667-8566x109|18-06-09|Geographical info...|    5666678566109|
|   19|    Alfred|   Barrera|Female|kristina40@exampl...|          4735530004|13-11-24|Administrator, ch...|       4735530004|
|   20|       Jon|    Wagner|Female|meagan99@example.org|001-940-671-0693x345|06-01-34|Engineer, aeronau...| 0019406710693345|
+-----+----------+----------+------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 20 rows

In [57]:
from os import read
from pyspark.sql.functions import col # Ensure col is imported
from pyspark.sql.functions import count # Import count function

# Create a DataFrame with counts of combinations of First_Name, Last_Name, and sex
# Identify combinations that appear more than once
duplicate_combinations = read_df.groupBy("First_Name", "Last_Name", "sex").count().where(col("count") > 1)

# Join the original DataFrame with the duplicate combinations to get the full duplicate records
duplicate_records = read_df.join(duplicate_combinations, on=["First_Name", "Last_Name", "sex"], how="inner")

# Show the duplicate records
print("Duplicate records based on First_Name, Last_Name, sex:")
duplicate_records.show(5, truncate=False)

# Get the count of rows in the original DataFrame
read_df_count = read_df.count()

# Get the count of duplicate records
duplicate_records_count = duplicate_records.count()

# Compare the counts to check for duplicates based on First_Name, Last_Name, and sex
if duplicate_records_count > 0:
  print("Duplicates found based on First_Name, Last_Name, and sex.")
else:
  print("No duplicates found based on First_Name, Last_Name, and sex.")

print(f"Original DataFrame row count: {read_df_count}")
print(f"Number of duplicate records (based on First_Name, Last_Name, sex): {duplicate_records_count}")

# The print statements for hardcoded numbers can remain or be removed based on need
print(5053+4906)

Duplicate records based on First_Name, Last_Name, sex:
+----------+---------+------+-----+----------------------+---------------------+--------+-----------------------------+-----+
|First_Name|Last_Name|sex   |Index|Email                 |Phone                |DOB     |Job_Tittle                   |count|
+----------+---------+------+-----+----------------------+---------------------+--------+-----------------------------+-----+
|Carly     |Terrell  |Female|229  |wwalker@example.org   |(730)913-5344x06134  |26-11-08|Therapist, music             |2    |
|Cesar     |Newton   |Male  |274  |madeline19@example.net|919-419-5076x892     |10-07-36|Chemical engineer            |2    |
|Tasha     |Madden   |Female|284  |vconley@example.org   |(267)422-6598x96138  |04-09-81|Occupational hygienist       |2    |
|Warren    |Huber    |Male  |293  |angela64@example.com  |752.003.9047x5083    |07-08-09|Engineer, civil (contracting)|2    |
|Alejandra |Petersen |Male  |387  |kentroth@example.net  |+1-947-087-4756x18065|04-08-10|Hydrographic surveyor        |2    |
+----------+---------+------+-----+----------------------+---------------------+--------+-----------------------------+-----+
only showing top 5 rows

Duplicates found based on First_Name, Last_Name, and sex.
Original DataFrame row count: 10000
Number of duplicate records (based on First_Name, Last_Name, sex): 81
9959

In [63]:
read_df.select("First_Name", "Last_Name").where((col("First_Name") == "Carly") & (col("Last_name") == "Terrell")).count()

2