<a href="https://colab.research.google.com/github/kptej/MyLearning/blob/main/employe_pyspark_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install dependencies as needed:
!pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
# Replace "employee_data.csv" with the actual file name in the dataset if it's different.
file_path = "Employee 1000x.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "zahidmughal2343/employee-data",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

df.head(5)

Requirement already satisfied: kagglehub[pandas-datasets] in /usr/local/lib/python3.11/dist-packages (0.3.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (24.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (6.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (4.67.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from kagglehub[pandas-datasets]) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->kagglehub[pandas-datasets]) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub[pandas-datasets]) (2025.4.26)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->kagglehub[pandas-datasets]) (1.17.0)

<ipython-input-1-8125748cc5a5>:11: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

Downloading from https://www.kaggle.com/api/v1/datasets/download/zahidmughal2343/employee-data?dataset_version_number=1&file_name=Employee 1000x.csv...

100%|██████████| 945k/945k [00:00<00:00, 1.67MB/s]

First 5 records:    Index First Name Last Name     Sex                        Email  \
0      1       Sara   Mcguire  Female           tsharp@example.net
1      2     Alisha    Hebert    Male   vincentgarrett@example.net
2      3  Gwendolyn  Sheppard    Male  mercadojonathan@example.com
3      4   Kristine    Mccann  Female        lindsay55@example.com
4      5      Bobby   Pittman  Female    blevinsmorgan@example.com

                   Phone Date of birth                          Job Title
0     (971)643-6089x9160      17-08-21              Editor, commissioning
1  +1-114-355-1841x78347      28-06-69                 Broadcast engineer
2             9017807728      25-09-15                   Industrial buyer
3  +1-607-333-9911x59088      27-07-78              Multimedia specialist
4             3739847538      17-11-89  Planning and development surveyor

,Index,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,Sara,Mcguire,Female,tsharp@example.net,(971)643-6089x9160,17-08-21,"Editor, commissioning"
1,2,Alisha,Hebert,Male,vincentgarrett@example.net,+1-114-355-1841x78347,28-06-69,Broadcast engineer
2,3,Gwendolyn,Sheppard,Male,mercadojonathan@example.com,9017807728,25-09-15,Industrial buyer
3,4,Kristine,Mccann,Female,lindsay55@example.com,+1-607-333-9911x59088,27-07-78,Multimedia specialist
4,5,Bobby,Pittman,Female,blevinsmorgan@example.com,3739847538,17-11-89,Planning and development surveyor

In [8]:
import kagglehub
from pyspark.sql import SparkSession # Import SparkSession
from pyspark.sql.functions import col # Import col function
from pyspark.sql.functions import DataFrame

# Download latest version
path = kagglehub.dataset_download("zahidmughal2343/employee-data")

print("Path to dataset files:", path)

# Create or get a SparkSession
spark = SparkSession.builder.appName("Employee-Data").getOrCreate() # Initialize SparkSession

df=spark.read.csv(path, header=True)
df.show(5) # Use df.head() to print the first row of the DataFrame

df.printSchema() # Print the schema of the DataFrame

df.head()
print(f"{'*' * 20}  {'*' * 20}")

print("NUmber of Columns:", len(df.columns))
print("Column Names:", df.columns)
print("Number of Rows:", df.count())
print("Number of Distinct Rows:", df.distinct().count())
print("Number of Rows with Null Values:", df.dropna().count())
print("Number of Rows with Duplicate Values:", df.dropDuplicates().count())
print("Number of Rows with Missing Values:", df.dropna().count())

Path to dataset files: /kaggle/input/employee-data
+-----+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|      Sara|  Mcguire|Female|  tsharp@example.net|  (971)643-6089x9160|     17-08-21|Editor, commissio...|
|    2|    Alisha|   Hebert|  Male|vincentgarrett@ex...|+1-114-355-1841x7...|     28-06-69|  Broadcast engineer|
|    3| Gwendolyn| Sheppard|  Male|mercadojonathan@e...|          9017807728|     25-09-15|    Industrial buyer|
|    4|  Kristine|   Mccann|Female|lindsay55@example...|+1-607-333-9911x5...|     27-07-78|Multimedia specia...|
|    5|     Bobby|  Pittman|Female|blevinsmorgan@exa...|          3739847538|     17-11-89|Planning and deve...|
+-----+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 5 rows

root
 |-- Index: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)

********************  ********************
NUmber of Columns: 8
Column Names: ['Index', 'First Name', 'Last Name', 'Sex', 'Email', 'Phone', 'Date of birth', 'Job Title']
Number of Rows: 10000
Number of Distinct Rows: 10000
Number of Rows with Null Values: 10000
Number of Rows with Duplicate Values: 10000
Number of Rows with Missing Values: 10000

PySparkTypeError: [SHOULD_NOT_DATAFRAME] Argument `data` should not be a DataFrame.

In [10]:
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>